{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-8">

            <h3 class="text-center">Editar datos personales</h3>

            <div class="row justify-content-center">
                <div class="col-8">

                    <form action="/edit-user/" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="Nombre"
                                class="form-label">Nombre</label>
                            <input type="text" class="form-control"
                                name="first_name"
                                placeholder="Nombre"
                                value="{{ user.first_name}}" required>
                        </div>

                        <div class="mb-3">
                            <label for="Nombre"
                                class="form-label">Apellido</label>
                            <input type="text" class="form-control"
                                name="last_name"
                                placeholder="Apellido"
                                value="{{ user.last_name}}" required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control"
                                name="email" value="{{ user.email}}"
                                placeholder="name@ejemplo.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="direccion"
                                class="form-label">Dirección</label>
                            <input type="text" class="form-control"
                                name="direccion" name="direccion"
                                value="{{ user.usuario.direccion}}"
                                placeholder="Calle número" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono"
                                class="form-label">Teléfono</label>
                            <input type="telefono" class="form-control"
                                name="telefono"
                                value="{{ user.usuario.telefono}}"
                                placeholder="# nro telefónico" required>
                        </div>
                        <div class="mb-3">
                            Arrendatario:
                            <input
                                type="radio"
                                name="rol"
                                id="arrendatario"
                                value="arrendatario"
                                {% if user.usuario.rol == 'arrendatario'%}checked{%endif %}
                                required>
                            Arrendador:
                            <input
                                type="radio"
                                name="rol"
                                id="arrendador"
                                value="arrendador"
                                {% if user.usuario.rol == 'arrendador'%}checked{%endif%}
                                required>
                        </div>
                        <button type="submit"
                            class="btn btn-primary mb-3">Actualizar
                            datos</button>

                    </form>

                </div>



                        


                    <div class="col-8">
<h3 class="text-center">Cambiar contraseña</h3>
                        <form action="/accounts/change-pass/" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputPassword1"
                                    class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="password"
                                    id="exampleInputPassword1">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1"
                                    class="form-label">Repita su
                                    contraseña</label>
                                <input type="password" name="password_repeat"
                                    class="form-control">
                            </div>

                            <button type="submit"
                                class="btn btn-primary">Actualizar
                                contraseña</button>
                        </form>

                    </div>

            </div>

        </div>
        <div class="col-4">

            {% if user.usuario.rol == 'arrendador' %}
            <h3 class="text-center">Propiedades en arriendo</h3>
            <p>+ <a href="{% url 'nuevo_inmueble' %}">Agregar inmueble</a></p>
            {% elif user.usuario.rol == 'arrendatario' %}
            <h3>Propiedades solicitadas</h3>
            {% endif %}
            <ul class="list-group">

                {% for inmueble in mis_inmuebles %}

                <li class="list-group-item d-flex justify-content-between">
                     <div class="me-3">
                        <p>{{inmueble.nombre}}</p>
                     </div>
                     <div style="min-width: 40px;">
                        <a href="{% url 'editar_inmueble' id=inmueble.id %}"><i class="bi bi-pen"></i></a> 
                        <a href="{% url 'eliminar_inmueble' id=inmueble.id %}" onclick="eliminar(event)"><i class="bi bi-trash" id="{{inmueble.id}}"></i></a></span>
                     </div></li>
                    {%empty%}
                    <li class="list-group-item">No hay propiedades registradas</li>
                {% endfor %}

            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script>
    function eliminar(event){

        event.preventDefault()
        const id = event.target.id
        const url = '/eliminar-inmueble/' + id + '/'
        const confirmacion = confirm('Este inmueble será eliminado. Haga clic en Aceptar para confirmar.')
        if(confirmacion == true){
            window.location.href = url
        }

    }
</script>
{% endblock %}